
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
font-family: 'Inter', sans-serif;
font-size: 1.6rem;
}

.hero-shadow {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.green-color {
    color: #9db13e;
}

.nav-link, 
.navbar-toggler-icon{
    font-size: 1.5rem;
}

.navbar-toggler{
    font-size:3rem;
}

./*nav-item {
    transition: all 0.2s;
    position: relative;
}

    .nav-item::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: #9db13e;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .nav-item:hover:after {
        opacity: 1;
    }*/

@media(mx-width:650px) {
    /*.nav-item {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: gray;
        width: 100%;
        padding: 10px 0 25px;
    }*/
}

.btn {
    position: relative;
    transition: all 0.2s;
    background-color: darkgray;
    background: rgba(255,255,255,255.75);
    transition: all 0.2s;
    border-radius: 2px;
    font-size: 1.5rem;
}

    .btn:hover {
        background-color: #9db13e !important;
        color: white;
    }

.btn-nav btn {
    position: relative;
    transition: all 0.2s;
    background-color: darkgray;
    background: rgba(255,255,255,255.1);
    transition: all 0.2s;
    border-radius: 2px;
    font-size: 1.5rem;
}
