*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}



li {
    list-style: none;
}

.nav-link {
    transition: all 0.2s;
    position: relative;
}

    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: #9db13e;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .nav-link:hover:after {
        opacity: 1;
    }

@media(mx-width:650px) {
    .nav-link {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: gray;
        width: 100%;
        padding: 10px 0 25px;
    }
}

.btn {
    position: relative;
    transition: all 0.2s;
    background-color:darkgray;
    background: rgba(255,255,255,255.75);
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.2s;
    border-radius:2px;
}
    .btn:hover {
        background-color: #9db13e !important;
        color: white;
    }

