* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

/*.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    color: #303035;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

    .hero-text h1 {
        margin-bottom: 5px;
        text-shadow: 3px 3px 5px #000;
        color: #303035;
    }

    .hero-text span {
        text-transform: uppercase;
        color: #9db13e;
    }

.section-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

section {
    scroll-margin-top: 80px;
}*/

/* nawigacja */
/*nav {
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    background-color: #303035;
    text-align: center;
    z-index: 10;
}

.burger-icon {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #9db13e;
}

.nav-items {
    display: none;
}*/

/* header */

/*.header {
    position: relative;
    background-image: url("../images/food-diet.png");
    height: 330px;
    background-size: cover;
    background-position: center;
}*/

/* main */
/*main {
    margin: 60px 0;
    color: #fff;
}*/

/* o nas */
/*.about-us-info {
    margin-bottom: 10px;
    padding: 0 20px;
}*/

/* kontakt */
/*.contact {
    text-align: center;
}

    .contact h3 {
        margin: 20px 0 5px;
        text-transform: uppercase;
    }*/

/* footer */
/*footer {
    padding: 30px 10px;
    text-align: center;
    background-color: #303035;
}

.logo {
    background-image: url("../images//dietician-logo.png")
}

@media (min-width: 768px) {
    .nav-items {
        display: block;
    }

    .burger-icon {
        display: none;
    }

    .nav-items a {
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #e8e8e8;
        transition: color 0.3s;
    }

        .nav-items a:hover {
            color: #9db13e;
        }

    .header {
        height: 400px;
        background-image: url("../img/hero-big.jpg");
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .products h3 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .products-box {
        font-size: 0;
    }

    .product {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .hero-text h1 {
        font-size: 42px;
    }

    .hero-text p {
        font-size: 20px;
    }
}*/