@{
    ViewData["Title"] = "Home Page";
}
<div style="padding-top:100px;">
    <div class="row" style="text-align:center;">

        <div class="col-md-3">
            <p>
                Aplikacja stworzona z myślą o dietetykach, sprawia że układanie jadłospisów jest szybkie, a zarządzanie pacjentami przyjemne i sprawne.
            </p>
            <div class="col">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn border-dark bg-transparent" style="font-family: 'Roboto', sans-serif; font-weight:bold; font-size:15px;">
                    Wypróbuj za darmo
                </a>
            </div>
        </div>
    </div>
</div>
