@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="padding-top:100px;">
    <div class="row" style="text-align:center;">

        <div class="col-md-3"

            <p style="font-family: 'Montserrat', sans-serif; font-weight:bold;">
                Aplikacja pozwala na zarządzanie Twoimi pacjentami
                oraz ułatwia proces współpracy z nimi.
            </p>
           
            <div class="row">
                <div class="col" style="text-align:center;">
                    <a asp-controller="Dietician" asp-action="Dashboard" class="btn border-dark bg-transparent" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:15px;">
                        Przejdź do aplikacji
                    </a>
                </div>
            </div>


        </div>

        
    </div>


</div>
