@{
    ViewData["Title"] = "Home Page";
}

<div style="background-size:cover; background-position:center center; height:100vh">
    <img src="~/images/image.png" class="img-fluid" alt="obrazek">
    <div class="row" style="text-align:center;">

        <div>
            <h1>Dietician</h1>
            <p>
                Aplikacja stworzona z myślą o dietetykach, sprawia że układanie jadłospisów jest szybkie, a zarządzanie pacjentami przyjemne i sprawne.
            </p>
            <div class="col">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn bg-transparent" style="font-family: 'Roboto', sans-serif; font-size:15px;">
                    Wypróbuj za darmo
                </a>
            </div>
        </div>
    </div>
</div>

