@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@{
    Layout = "_LayoutLoginRegister";
}

<section>
    <div class="container p-5">
        <div class="shadow-lg p-3 mt-5 bg-white text-dark rounded col-md-6 col-lg-5 col-xl-4">
            <div class="window col-md-6 col-lg-5 col-xl-4">
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
            </div>
        </div>
    </div>
</section>