@page
@model ForgotPasswordModel
@{
    Layout = "_LayoutLoginRegister";
}

<section>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="shadow-lg p-3 mt-5 bg-white text-dark rounded col-md-6 col-lg-5 col-xl-4">

                <div class="text-center align-items-center justify-content-center">
                    <img src="~/images/user-modul.png" />

                    <h2>Resetowanie hasła</h2>
                </div>
                
                <hr />

                <form id="account" method="post" class="p-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                        <input asp-for="Input.Email" class="form-control h4" autocomplete="username" aria-required="true" placeholder="Adres e-mail" />
                                    <span asp-validation-for="Input.Email" class="text-danger h5"></span>
                        </div>
                        <div class="mt-5 text-center align-items-center justify-content-center">
                                    <button type="submit" class="btn w-100">Resetuj hasło</button>
                        </div>
                            </form>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
