@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj";
}

<section>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="login shadow p-3 mb-5 bg-white text-dark rounded col-md-6 col-lg-5 col-xl-4">

                <div class="text-center align-items-center justify-content-center">
                    <img src="~/images/user-modul.png" />
                    <h1>Zaloguj się</h1>
                </div>
                <div class="text-center align-items-center justify-content-center">
                    <h5>
                        Nie masz konta? <a id="forgot-password" class="green-color link-dark"
                                       asp-page="./Login">
                            Zarejestruj się
                        </a>
                    </h5>
                </div>
                <hr />

                <form id="account" method="post" class="p-4">

                    <div class="form-group mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Adres e-mail" />
                        <span asp-validation-for="Input.Email" class="text-danger h5"></span>
                    </div>

                    <div class="form-group mb-3">
                        <input asp-for="Input.Password" class="form-control h4" autocomplete="current-password" aria-required="true" placeholder="Hasło" />
                        <span asp-validation-for="Input.Password" class="text-danger h5"></span>
                    </div>

                    <div class="form-group row h5">
                        <div class="col-6 checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input mt-1" asp-for="Input.RememberMe" /> Zapamiętaj mnie
                            </label>
                        </div>
                        <div class="col-6 text-end">
                            <p>
                                <a id="forgot-password" class="green-color link-dark"
                                   asp-page="./ForgotPassword"> Nie pamiętasz hasła?
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="mt-5 text-center align-items-center justify-content-center">
                        <button id="login-submit" type="submit" class="btn w-100">Zaloguj się</button>
                    </div>
                </form>

                <div class="mt-4 text-center align-items-center justify-content-center">
                    <h4>Zaloguj się przez inny serwis</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn border-0 bg-transparent" name="provider" value="@provider.Name" title="Zaloguj się za pomocą @provider.DisplayName">
                                                <i class="fab fa-google" style="font-size:20px"></i>
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
