@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<section>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="window shadow p-3 mb-5 bg-white text-dark rounded col-md-6 col-lg-5 col-xl-4">

                <div class="text-center align-items-center justify-content-center">
                    <img src="~/images/user-modul.png" />

                    <h2>@ViewData["Title"]</h2>
                </div>

                <hr />

                <form id="account" method="post" class="p-4">
                    @if (@Model.DisplayConfirmAccountLink)
                    {
                    <p>
                            This app does not currently have a real email sender registered, see <a class="green-color link-dark" href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                            Normally this would be emailed: <a class="green-color link-dark" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </p>
                    }
                    else
                    {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                    }
                </form>
            </div>
        </div>
    </div>
</section>




