@model DieticianMVC.Application.ViewModels.Patient.NewPatientVm

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Dodaj pacjenta";
}


<section class="window shadow-lg p-4 bg-white text-dark rounded mt-3 me-4">
        <h1>@ViewData["Title"]</h1>
        <hr />
    <div class="col-md-4 mt-2">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-2">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group p-2">
                <input asp-for="FirstName" class="form-control  p-3" autocomplete="FirstName" aria-required="true" placeholder="Imię" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="LastName" class="form-control p-3" autocomplete="LastName" aria-required="true" placeholder="Nazwisko" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="EmailAddress" class="form-control p-3" autocomplete="Email" aria-required="true" placeholder="Email" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="PhoneNumber" class="form-control p-3" autocomplete="Phone" aria-required="true" placeholder="Telefon" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                 <select asp-for="Sex" class="form-control p-3" aria-required="true" >
                    <option disabled selected>Płeć</option>
                    <option>Kobieta</option>
                    <option>Mężczyzna</option>
                        </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="DateOfBirth" class="form-control p-3" autocomplete="DateOfBirth" aria-required="true" placeholder="Data urodzenia" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input hidden asp-for="DieticianId" class="form-control p-3" autocomplete="DieticianId" aria-required="true" placeholder="Id"/>
                <span asp-validation-for="DieticianId" class="text-danger"></span>
            </div>
            <div class="form-group p-2 mt-3">
                <a asp-action="Index"><input type="button" value="Anuluj" class="btn" /></a>
                <input type="submit" value="Zapisz" class="btn" />
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
