@model DieticianMVC.Application.ViewModels.Patient.NewPatientVm

@{
    ViewData["Title"] = "Eytuj dane pacjenta";
}

<h3>Dane pacjenta</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Podstawowe informacje</h4>
        <form asp-action="EditPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Imię</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">Email</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label">Płeć</label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Data urodzenia</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Preferencje żywieniowe</h4>
        <form asp-action="EditPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
        </form>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Pomiary</h4>
        <form asp-action="EditPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </form>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Jadłospisy</h4>
        <form asp-action="EditPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </form>
    </div>
</div>


<hr />
<div class="form-group">
    <a asp-action="Index"><input type="button" value="Anuluj" class="btn btn-primary" /></a>
    <input type="submit" value="Zapisz" class="btn btn-primary" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
