<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dietician</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/61e1299a1e.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/images/logo16x16.png" />
</head>

<body>
    <header>
        <nav class="navbar" role="navigation">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo200x40.png" height="40" width="200"></a>
            <div class="links">
    <a href="about-application">O aplikacji</a>
    <a href="price-list">Cennik</a>
    <a href="contact">Kontakt</a>
    </div>
        <partial name="_LoginPartial" />
    </header>

    @* <nav>
    <div class="wrapper">
    <button class="burger-icon"><i class="fa-solid fa-bars"></i></button>
    <div class="nav-items">

    <a href="home"><img ="..icon="""</header></a>
    <a href="about-application">o aplikacji</a>
    <a href="products">produkty</a>
    <a href="contact">kontakt</a>
    </div>
    </div>
    </nav>

    <header class="header">
    <div class="hero-bg"></div>
    <div class="hero-text">
    <h1><span>Dietician</span></h1>
    <p>Wszystko co potrzebujesz do pracy w jednej aplikacji</p>
    </div>
    </header>

    <main>
    <section class="about-us wrapper" id="about-us">
    <h2 class="section-title">O aplikacji</h2>
    <p class="about-us-info">
    Dietician to aplikacja stworzona z myślą o dietetykach, pomaga w codziennej pracy, a przede wszystkim sprawia żeby układanie jadłospisów było szybkie i sprawne, a zarządzanie pacjentami przyjemne.
    </p>
    <p class="about-us-info">

    </p>
    </p>
    </section>

    <section class="contact wrapper" id="contact">
    <h2 class="section-title">kontakt</h2>
    <p><i class="fas fa-phone"></i> +48 000 000 000</p>
    <p><i class="fas fa-at"></i> kontakt@dietician.pl</p>
    <h3>Adres</h3>
    <p>ul.Testowa 1</p>
    <p>00-000 Kraków</p>
    </section>
    </main>*@


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
  @*  </div>

        <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Dietician - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
    </div>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
