@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="navbar">
            <a class="nav-link"
           asp-area="Identity"
           asp-page="/Account/Manage/Index"
           title="Manage">Witaj @User.Identity?.Name!</a>
        </li>
        <li class="nav-but">
            <form class="btn"
              asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-light">
                    Wyloguj
                </button>
            </form>
        </li>
    }
    else
    {
        <ul class="navbar-nav mb-2 mb-lg-2 d-flex align-items-center">
            <li class="nav-but align-items-center">
                <a class="btn btn-outline-light"
               asp-area="Identity"
               asp-page="/Account/Login">Zaloguj się</a>
            </li>
            <li class="nav-but align-items-center">
                <a class="btn btn-light"
               asp-area="Identity"
               asp-page="/Account/Register">Załóż konto</a>
            </li>
        </ul>
    }
</ul>
